@import 'styles/variables.scss';

.section {
    max-width: 100%;
    width: $page-width;
}

.body {
    font-size: 1.75rem;
    margin: 0 10rem;

    h4 {
        margin: 2rem 0 1rem;
    }
}

.artCreditsList {
    margin: 1rem 0;
}