.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 3rem;

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
}

.sourceBoxTitle {
    flex-grow: 1;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.positionToggles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0 .5rem;
}

.slider {
    width: 30rem;
}

.ruleSelect {
    & * {
        font-size: 2rem;
    }
    width: 12rem;
}