.switch {
    position: relative;
    display: inline-block;
    width: 8.5rem;
    height: 4rem;

    input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .label {
        cursor: pointer;
        font-size: 2rem;
        font-weight: 500;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 5.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .slider {
        border: .25rem solid #ccc;
        border-radius: 4rem;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: unset;
        -webkit-transition: .4s;
        transition: .4s;
    }
  
    .slider:before {
        border: 1px solid #ccc;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 .25rem .5rem, rgba(0, 0, 0, 0.2) 0 .25rem .5rem;
        position: absolute;
        content: "";
        height: 3rem;
        width: 3rem;
        left: .25rem;
        bottom: .1rem;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: 2;
    }

    $travel-distance: 4.25rem;
  
    input:checked {
        & + .slider {
            background-color: currentColor;
            border-color: unset;
        }

        & ~ .label {
            left: 0;
            right: unset;
            color: white;
        }

        & + .slider:before {
            -webkit-transform: translateX($travel-distance);
            -ms-transform: translateX($travel-distance);
            transform: translateX($travel-distance);
        }
    }
}