// COLORS

$theme-white: #f2f4f3;
$theme-brown: #ECD7C3;
$theme-linen: #F0E6DD;
$theme-green: #B1CCC2;
$theme-red: #6B0504;
$theme-orange: #A3320B;
$theme-grey: #4e4e4e;
$theme-olive: #41693c;
$theme-purple: #5e2c8d;
$theme-menu: $theme-grey;


$position-colors: (
    'rb': #88231a,
    'wr': #084689,
    'qb': #429213,
    'te': #aa9f34,
);

.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

// VALUES

$mobile-break-point: 900px;